/* Reusable Components */

.btn-primary {
    background-color: var(--primary);
    color: white;
    transition: background-color 0.2s ease;
}

.btn-primary:hover {
    background-color: #4338CA;
}

.card {
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #F1F5F9;
}
